{% extends 'base_secundaria.html' %}

{% block content %}

<table class="table div-conteinerH">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Materia</th>
            <th scope="col">Primer Bimestre</th>
            <th scope="col">Segundo Bimestre</th>
            <th scope="col">Tercer Bimestre</th>
            <th scope="col">Cuarto Bimestre</th>
            <th scope="col">Quinto Bimestre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Español</th>
            <td>10</td>
            <td>8</td>
            <td>7</td>
            <td>8</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">Matemáticas</th>
            <td>10</td>
            <td>8</td>
            <td>7</td>
            <td>8</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row">Exploración de la Naturaleza y la Sociedad</th>
            <td>10</td>
            <td>8</td>
            <td>7</td>
            <td>8</td>
            <td>6</td>
          </tr>
          <tr>
                <th scope="row">Formación Cívica y Ética</th>
                <td>10</td>
                <td>8</td>
                <td>7</td>
                <td>8</td>
                <td>6</td>
              </tr>
            <tr>
                <th scope="row">Educación Artística</th>
                <td>10</td>
                <td>8</td>
                <td>7</td>
                <td>8</td>
                <td>6</td>
            </tr>
        </tbody>
      </table>   





{%endblock%}