{% extends 'base_secundaria.html' %}

{% block content %}
    
<table class="table div-conteinerH">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Materias</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Español</th>
            <td>8:00-10:00</td>
            <td>11:00-12:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
          </tr>
          <tr>
            <th scope="row">Matemáticas</th>
            <td>8:00-10:00</td>
            <td>11:00-12:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
          </tr>
          <tr>
            <th scope="row">Exploración de la Naturaleza y la Sociedad</th>
            <td>8:00-10:00</td>
            <td>11:00-12:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
            <td>12:00-13:00</td>
          </tr>
          <tr>
                <th scope="row">Formación Cívica y Ética</th>
                <td>8:00-10:00</td>
                <td>11:00-12:00</td>
                <td>12:00-13:00</td>
                <td>12:00-13:00</td>
                <td>12:00-13:00</td>
              </tr>
            <tr>
                <th scope="row">Educación Artística</th>
                <td>8:00-10:00</td>
                <td>11:00-12:00</td>
                <td>12:00-13:00</td>
                <td>12:00-13:00</td>
                <td>12:00-13:00</td>
            </tr>
        </tbody>
      </table>   
{%endblock%}