<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<meta name="viewport" content="width=500px, initial-scale=1, shrink-to-fit=yes">
<meta charset="utf-8">
<link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{%static 'css-manual/base.css'%}" rel="stylesheet">
<link href="{%static 'css-manual/manu.css'%}" rel="stylesheet">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link href="{static 'css'}"

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



	<title>
		Bienvenido al sitio de la escuela primaria
	</title>
</head>

	
<body>
	<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" >
      <div class="sidebar-heading"> Colegio La Patria </div>
      <div class="list-group list-group-flush">
      <ul class="list-group list-group-flush">
          <li><a href="{% url 'informacion' %} " class="list-group-item list-group-item-action bg-light">Información</a></li>
          <li><a href="{% url 'horarios' %}" class="list-group-item list-group-item-action bg-light">Horario</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Calificaciones</a>
              <ul>
                <li>Geografia I</li>
                <li>Geografia II</li>
                <li>Geografia III</li>
              </ul>
          </li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Cerrar sesión</a></li>



      </ul>
        <a href="{% url 'informacion' %} " class="list-group-item list-group-item-action bg-light">Información</a>
        <a href="{% url 'horarios' %}" class="list-group-item list-group-item-action bg-light">Horario</a>
        <a href="{% url 'calificaciones' %}" class="list-group-item list-group-item-action bg-light icon-chevron-down">Calificaciones</a>
        <a href="{% url 'reportes' %}" class="list-group-item list-group-item-action bg-light">Reportes</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Cerrar sesión</a>
        
      </div>
    </div>
<div id="page-content-wrapper">

      
<nav class="navbar navbar-light" style="background-color: #082352;">

        <button class="btn btn-primary" id="menu-toggle"> 
        	<img src="{% static 'menu.png' %}">

         </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        </button>

        <h1>Portal de alumnos</h1>
      </nav>
       <div class="container-fluid">
       
			

       	{% block content %}

aa




       	{% endblock %}
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>