{% extends 'base.html' %}

{% block content %}
    
        <div class="conteiner" >
            <table class="table table-sm table-dark">

                <tr>
                    <td class="bg-primary">...</td>
                    <td class="bg-success">...</td>
                    <td class="bg-warning">...</td>
                    <td class="bg-danger">...</td>
                    <td class="bg-info">...</td>
                </tr>
                <tr>
                    <td class="bg-primary">...</td>
                    <td class="bg-success">...</td>
                    <td class="bg-warning">...</td>
                    <td class="bg-danger">...</td>
                    <td class="bg-info">...</td>
                </tr>
                <tr>
                    <td class="bg-primary">...</td>
                    <td class="bg-success">...</td>
                    <td class="bg-warning">...</td>
                    <td class="bg-danger">...</td>
                    <td class="bg-info">...</td>
                </tr>
            </table>
        </div>
    
{%endblock%}