
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="media">
        <img class="mr-3" src="{% static 'estu.png' %}">
       
</div>
    <div class="datos_alumno">

            <table class="table table-hover">

                
                    <tr> <th>Nombre del alumno</th></tr>
                    <tr> <th><h6>Emilio Azcarraga</h6></th></tr>
                    <tr>    
                        <th>Grado </th>
                        <th>Grupo </th>
                    </tr>
                    <tr>    
                            <th> <h6>1</h6></th>
                            <th><h6> A</h6></th>
                    </tr>
                    <tr> <th>Dirección</th></tr>
                    <tr> <th><h6>Av. SiempreViva</h6></th></tr>
                    <tr> <th>Tutor</th></tr>
                    <tr> <th><h6>Emilio Padre</h6></th></tr>
                    <tr> <th>Numero de emergencia</th></tr>
                    <tr> <th><h6>911</h6></th></tr>


            </table>



    </div>  




{%endblock%}