
<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
      
         <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.2 ">
        <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">
        <link href="{%static 'css-manual/manu.css'%}" rel="stylesheet">
        <link href="{%static 'css-manual/estilo.css'%}" rel="stylesheet">                          
        <link href="https://fonts.googleapis.com/css?family=Martel:400,900" rel="stylesheet">


      
      
      <title></title>
    </head>
    <body>
       <div id="modal-wrapper" class="modal">
  
            <form class="modal-content animate" action="/action_page.php">
                  
            <div class="imgcontainer">
                <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
              </div>
          
              <div class="container">
                <input type="text" placeholder="Enter Username" name="uname">
                <input type="password" placeholder="Enter Password" name="psw">        
                <button type="submit" class="btn btn-primary aves">Inicio</button>
              </div>
              
            </form>
            <form method="post" action="/action_page.php" class="modal-content animate">
              {% csrf_token %}
              <div class="">
               <div class="">
                <div class="">
                 {{form.username.label_tag}}
                 {{form.username}}
                </div>
               </div>
              </div>
              <div class="">
               <div class="">
                <div class="">
                 {{form.password.label_tag}}
                 {{form.password}}
                </div>
               </div>
              </div>
              <div class="row">
               <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                 <a href="#">Olvide mi Contraseña:</label>
                 <input class="btn btn-primary" type="submit" value="Ingresar">
                </div>
               </div>
              </div>
              
             </form>
        </div>
            

      <div class="div-enca">
        <div class="row">
          <div class="col div-ima1">
            <img src="{% static 'logo-sep.png' %}" height="80px">  
          </div>
          <div class="col div-ima2">
           COLEGIO "LA PATRIA "
          </div>
          <div class="col div-ima3">
            <img src="{% static 'logo-cole.png' %}" height="80px"> 
          </div>
        </div>
      </div>

      <div class="container div-container div-con-move">

        <div class="row">

          <div class="col div-left border border-dark rounded shadow p-3 mb-5 bg-white rounded" >
            <div class="card" style="float: right;">
              <img src="{% static 'profe.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center">PROFESORES</h5>
                <p style="color: white;"> .</p>
                <button onclick="document.getElementById('modal-wrapper').style.display='block'" class="btn btn-primary aves" >
                    Iniciar Sesion</button>
              </div>
            </div>
          </div>


          <div class="col div-center shadow p-3 mb-5 bg-white rounded border border-dark rounded">
            <div class="card" >
              <img src="{% static 'estu.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center">ALUMNO</h5>
                <p style="color: white;"> .</p>
                <button onclick="document.getElementById('modal-wrapper').style.display='block'" class="btn btn-primary aves" >
                    Iniciar Sesion</button>
              </div>
            </div>
          </div>

          <div class="col div-right shadow p-3 mb-5 bg-white rounded border border-dark rounded">
            <div class="card">
              <img src="{% static 'admin.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center">ADMINISTRACIÓN</h5>
                <p style="color: white;"> .</p>
                <a href="{% url 'login_administrador' %}" class="btn btn-primary aves">Iniciar sesion </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form id="formu" style="display: none;">
        ...
        .....
        ......
        </form>

     
      
      
      <script>
          // If user clicks anywhere outside of the modal, Modal will close
          
          var modal = document.getElementById('modal-wrapper');
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          </script>
    </body>
</html>