{% extends 'baseadmin.html' %}

{% block content %}

<table class="table table-bordered">

    <thead>
        <tr>
            <td>Nombre </td>
            <td>apellido_paterno</td>
            <td>apellido_materno</td>
            <td>grado</td>
            <td>no_control</td>
        </tr>

    </thead>
    <tbody>
        {% if object_list %}
        {% for Alumno in object_list %}
        <tr>
            <td>{{Alumno.nombre }}</td>
            <td>{{Alumno.apellido_paterno}}</td>
            <td>{{Alumno.apellido_materno}}</td>
            <td>{{Alumno.grado}}</td>
            <td>{{Alumno.no_control}}</td>
            <td><a class="btn btn-primary" href="{% url 'alumno:editar_alumno' calificar.pk %} ">  Editar </a> <a class="btn btn-primary" href="{% url 'alumno:eliminar_alumno' calificar.pk %} ">Eliminar </a></td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de alumnos</h1>
        {% endif %}

    </tbody>


</table>


{%endblock%}