{% extends 'baseadmin.html' %}

{% block content %}

<table class="table table-bordered">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="GET">
                    <div id ="custom-search-input">
                        <div class ="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                            <button type="submit" class="boton btn-success"> Buscar Docente</button>
                        </div>
                    </div>
                </form>
                    </div>
        </div>
    </div>
    <thead>
        <tr>
            <td>Nombre </td>
            <td>apellido_paterno</td>
            <td>apellido_materno</td>
            <td>correo</td>
            <td>telefono</td>
        </tr>

    </thead>
    <tbody>
        {% if object_list %}
        {% for Docente in object_list %}
        <tr>
            <td>{{Docente.nombreDocente }}</td>
            <td>{{Docente.apellido_paterno_docente}}</td>
            <td>{{Docente.apellido_materno_docente}}</td>
            <td>{{Docente.correo}}</td>
            <td>{{Docente.telefono}}</td>
            <td><a class="btn btn-primary" href="{% url 'alumno:editar_docente' Docente.pk %} ">  Editar </a> <a class="btn btn-primary" href="{% url 'alumno:eliminar_docente' Docente.pk %} ">Eliminar </a></td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de Docentes</h1>
        {% endif %}

    </tbody>


</table>


{%endblock%}